img {
    padding: 5px;
    opacity: 0.90;
    display: flex;
    cursor: pointer;
    width: 625px;
    height: 415px;
}

.info {
    visibility: hidden;
}

.heroes:hover, .villains:hover {
    /*
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    */
    opacity: 1.0;
}

.heroes:hover + .info {
    visibility: visible;
}

.heroes:hover {
    background: rgb(129, 129, 255)
}

.villains:hover {
    background: rgb(194, 1, 1);
}
#arena {
    display: flex;
    flex-direction: row;
}
#arena h2 {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
#arena img, #defeated img {
    width: 417px;
    height: 276px;

}
#arena, #battle, #gamewon, #imagestore {
    visibility: hidden;
}

#intro {
    z-index: 1;
}

#arena {
    z-index: 2;
    position: absolute;
    top: 5px;
}

#battle {
    z-index: 3;
    position: absolute;
    top: 10px;
}


